:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --lightest-accent: #fdf5fc;
  --light-accent: #debcd6;
  --light-med-accent: #cb97be;
  --med-accent: #ba79aa;
  --accent: #984b85;
  --lightest-accent2: #dfe2f3;
  --light-accent2: #bec2df;
  --light-med-accent2: #9ba0c9;
  --med-accent2: #6a70ad;
  --accent2: #505794;
  --lightest-accent3: #fff1e6;
  --light-accent3: #eec3ad;
  --light-med-accent3: #e2a482;
  --med-accent3: #d27745;
  --accent3: #b85c2a;
  --light-accent4: #d6e9f9;
  --light-med-accent4: #b0cfeb;
  --med-accent4: #649dd0;
  --accent4: #2f75b0;
  --light-gray: #f7f7f7;
  --gray: #dddddd;
  --med-gray: #8b8b8b;
  --dark-gray: #5b5b5b;
}
